In [31]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [1]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/24 00:47:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark.version

'3.4.2'

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

In [17]:
df = spark.read\
    .option("header","true")\
    .csv("fhvhv_tripdata_2021-06.csv.gz")

In [18]:
df.head(5)

[Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:02:41', dropoff_datetime='2021-06-01 00:07:46', PULocationID='174', DOLocationID='18', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:16:16', dropoff_datetime='2021-06-01 00:21:14', PULocationID='32', DOLocationID='254', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:27:01', dropoff_datetime='2021-06-01 00:42:11', PULocationID='240', DOLocationID='127', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:46:08', dropoff_datetime='2021-06-01 00:53:45', PULocationID='127', DOLocationID='235', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime='2021-06-01 00:45:42', dropoff_datetime='2021-06-01 01:03:33', PULocationID='144', DOLocationID='146', SR_Flag='N', Affiliated_base_number=None)]

In [19]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [21]:
from pyspark.sql import types

In [22]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [23]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [25]:
df.head(4)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 8), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 53, 45), PULocationID=127, DOLocationID=235, SR_Flag='N', Affiliated_base_number='B02764')]

In [26]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [28]:
df = df.repartition(12)

df.write.parquet('fhvhv/2021/06/')

In [30]:
 !ls -lh fhvhv/2021/06/

total 284M
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00000-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00001-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00002-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00003-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00004-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00005-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00006-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00007-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00008-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00009-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00010-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy 24M Dec 24 01:08 part-00011-b823fec3-baa5-41de-8b54-23151fbb0a0f-c000.snappy.parquet
-rw-r--r-- 1 skawy skawy   0 Dec 24 01:08 _SUCCESS

In [33]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-06-27|  2021-06-27|         148|         112|
| 2021-06-18|  2021-06-18|         140|         100|
| 2021-06-18|  2021-06-18|         152|          50|
| 2021-06-05|  2021-06-05|          43|         132|
| 2021-06-23|  2021-06-23|         142|         244|
| 2021-06-02|  2021-06-02|         260|          82|
| 2021-06-19|  2021-06-19|          37|         255|
| 2021-06-12|  2021-06-12|          87|          79|
| 2021-06-19|  2021-06-19|          56|         258|
| 2021-06-11|  2021-06-11|         243|          48|
| 2021-06-21|  2021-06-21|         145|         229|
| 2021-06-24|  2021-06-24|          41|         166|
| 2021-06-13|  2021-06-13|         198|         132|
| 2021-06-16|  2021-06-16|         198|         198|
| 2021-06-17|  2021-06-17|          63|         181|
| 2021-06-13|  2021-06-13|         130|         191|
| 2021-06-13|  2021-06-13|          17|          37|
| 2021-06-25|  2021-06-25|          17|         256|
| 2021-06-03|  2021-06-03|         236|         132|
| 2021-06-11|  2021-06-11|         145|         100|
+-----------+------------+------------+------------+
only showing top 20 rows

In [36]:
# You Should Register your dataframe in temp table to use any query on it
df.registerTempTable('fhvhv_june_2021')

/home/skawy/spark/spark-3.4.2-bin-hadoop3/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [40]:
spark.sql("""
SELECT
    count(*)
FROM
    fhvhv_june_2021
WHERE DATE(pickup_datetime) = '2021-06-15'
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [50]:
spark.sql("""
SELECT
    dispatching_base_num,
    pickup_datetime,
    dropoff_datetime,
    PULocationID,
    DOLocationID,
    TIMESTAMPDIFF(HOUR, pickup_datetime, dropoff_datetime) AS difference
FROM 
    fhvhv_june_2021
ORDER BY difference DESC LIMIT 5
""").show()

+--------------------+-------------------+-------------------+------------+------------+----------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|difference|
+--------------------+-------------------+-------------------+------------+------------+----------+
|              B02872|2021-06-25 13:55:41|2021-06-28 08:48:25|          98|         265|        66|
|              B02765|2021-06-22 12:09:45|2021-06-23 13:42:44|         188|         198|        25|
|              B02879|2021-06-27 10:32:29|2021-06-28 06:31:20|          78|         169|        19|
|              B02800|2021-06-26 22:37:11|2021-06-27 16:49:01|         263|          36|        18|
|              B02682|2021-06-23 20:40:43|2021-06-24 13:08:44|           3|         247|        16|
+--------------------+-------------------+-------------------+------------+------------+----------+

In [51]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-12-24 01:53:08--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231224T015308Z&X-Amz-Expires=300&X-Amz-Signature=4ced389af30893d069e97375d509ec076b36135f248a19d68f58a87f3c5ce4a4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-12-24 01:53:08--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231224T015308Z&X-Amz-Expires=300&X-Amz-Signature=4ced389af30893d069e97375d509ec076b36135f248a19d68f58a87f3c5ce4a4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-12-24 01:53:08 (42.1 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [52]:
df_zones = spark.read\
    .option("header","true")\
    .csv("taxi_zone_lookup.csv")

In [55]:
df_zones.head(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [56]:
df_zones.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [57]:
df_result = df.join(df_zones, df.PULocationID == df_zones.LocationID)

In [61]:
# Rewsha El Vertical = True Di bsra7a
df_result.show(n=2 , vertical = True)

-RECORD 0--------------------------------------
 dispatching_base_num   | B02879
 pickup_datetime        | 2021-06-26 10:55:58
 dropoff_datetime       | 2021-06-26 11:07:36
 PULocationID           | 48
 DOLocationID           | 162
 SR_Flag                | N
 Affiliated_base_number | B02879
 LocationID             | 48
 Borough                | Manhattan
 Zone                   | Clinton East
 service_zone           | Yellow Zone
-RECORD 1--------------------------------------
 dispatching_base_num   | B02864
 pickup_datetime        | 2021-06-04 14:18:02
 dropoff_datetime       | 2021-06-04 15:04:26
 PULocationID           | 231
 DOLocationID           | 138
 SR_Flag                | N
 Affiliated_base_number | B02864
 LocationID             | 231
 Borough                | Manhattan
 Zone                   | TriBeCa/Civic Center
 service_zone           | Yellow Zone
only showing top 2 rows

In [62]:
df_result.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [63]:
df_result.registerTempTable('joined_table')

/home/skawy/spark/spark-3.4.2-bin-hadoop3/python/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [66]:
spark.sql("""
SELECT
    PULocationID,
    Zone,
    count(*) as PUCount
FROM
    joined_table
GROUP BY
    PULocationID,Zone
ORDER BY PUCount DESC LIMIT 2
""").show()

+------------+-------------------+-------+
|PULocationID|               Zone|PUCount|
+------------+-------------------+-------+
|          61|Crown Heights North| 231279|
|          79|       East Village| 221244|
+------------+-------------------+-------+