!pip install sqlalchemy

In [1]:
import pandas as pd

In [19]:
import sqlalchemy

In [32]:
from time import time

In [2]:
pd.__version__

'2.1.1'

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

! wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [6]:
! ls

cmds.txt		       ingest.ipynb	      taxi+_zone_lookup.csv
Dockerfile		       ny_taxi_postgres_data
green_tripdata_2019-01.csv.gz  README.md

In [21]:
engine = sqlalchemy.create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [23]:
engine.connect()

In [48]:
df = pd.read_csv("green_tripdata_2019-01.csv.gz")

In [53]:
df_zone = pd.read_csv("taxi+_zone_lookup.csv")

In [54]:
len(df_zone)

265

In [49]:
df.head() PULocationID

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [64]:
df_zone.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [50]:
df_zone.head(0).to_sql(name ='zone_lookup', con = engine , if_exists = 'replace')

0

In [51]:
df_zone_iter = pd.read_csv("taxi+_zone_lookup.csv", iterator = True , chunksize = 10000)

In [52]:
while True: 
    try :
        t_start = time()
        
        df_zone = next(df_zone_iter)
        
        df_zone.to_sql(name='zone_lookup', con=engine, if_exists='append')
        
        t_end = time()
        
        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 0.025 second
Finished ingesting data into the postgres database

In [16]:
# 7lwa el 
print(pd.io.sql.get_schema(df,name = "green_tripdata_2019-01.csv.gz" ))

CREATE TABLE "green_tripdata_2019-01.csv.gz" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [24]:
pd.io.sql.get_schema(df,name = "green_trip_data" ,con = engine)

'\nCREATE TABLE green_trip_data (\n\t"VendorID" BIGINT, \n\tlpep_pickup_datetime TEXT, \n\tlpep_dropoff_datetime TEXT, \n\tstore_and_fwd_flag TEXT, \n\t"RatecodeID" BIGINT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpassenger_count BIGINT, \n\ttrip_distance FLOAT(53), \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\tehail_fee FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tpayment_type BIGINT, \n\ttrip_type BIGINT, \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [40]:
df_iter = pd.read_csv("green_tripdata_2019-01.csv.gz", iterator = True , chunksize = 10000)

In [29]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime )
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime )

In [38]:
df.lpep_dropoff_datetime

630000   2019-01-31 22:56:15
630001   2019-01-31 23:09:11
630002   2019-01-31 22:25:19
630003   2019-01-31 22:29:30
630004   2019-01-31 23:10:48
                 ...
630913   2019-01-31 23:22:59
630914   2019-01-31 23:23:05
630915   2019-01-31 23:36:14
630916   2019-02-01 00:04:18
630917   2019-01-31 23:26:06
Name: lpep_dropoff_datetime, Length: 918, dtype: datetime64[ns]

In [39]:
df.head(0).to_sql(name ='green_trip_data', con = engine , if_exists = 'replace')

0

In [41]:
while True: 
    try :
        t_start = time()
        
        df = next(df_iter)
        
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime )
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime )
        
        df.to_sql(name='green_trip_data', con=engine, if_exists='append')
        
        t_end = time()
        
        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 0.672 second
inserted another chunk, took 0.552 second
inserted another chunk, took 0.545 second
inserted another chunk, took 0.573 second
inserted another chunk, took 0.630 second
inserted another chunk, took 0.609 second
inserted another chunk, took 0.548 second
inserted another chunk, took 0.553 second
inserted another chunk, took 0.620 second
inserted another chunk, took 0.544 second
inserted another chunk, took 0.550 second
inserted another chunk, took 0.600 second
inserted another chunk, took 0.545 second
inserted another chunk, took 0.623 second
inserted another chunk, took 0.546 second
inserted another chunk, took 0.552 second
inserted another chunk, took 0.552 second
inserted another chunk, took 0.665 second
inserted another chunk, took 0.577 second
inserted another chunk, took 0.579 second
inserted another chunk, took 0.572 second
inserted another chunk, took 0.640 second
inserted another chunk, took 0.571 second
inserted another chunk, took 0.570 second
inserted another chunk, took 0.571 second
inserted another chunk, took 0.582 second
inserted another chunk, took 0.638 second
inserted another chunk, took 0.572 second
inserted another chunk, took 0.606 second
inserted another chunk, took 0.571 second
inserted another chunk, took 0.680 second
inserted another chunk, took 0.591 second
inserted another chunk, took 0.575 second
inserted another chunk, took 0.578 second
inserted another chunk, took 0.589 second
inserted another chunk, took 0.632 second
inserted another chunk, took 0.550 second
inserted another chunk, took 0.562 second
inserted another chunk, took 0.576 second
inserted another chunk, took 0.630 second
inserted another chunk, took 0.646 second
inserted another chunk, took 0.600 second
inserted another chunk, took 0.620 second
inserted another chunk, took 0.638 second
inserted another chunk, took 0.692 second
inserted another chunk, took 0.596 second
inserted another chunk, took 0.664 second
inserted another chunk, took 0.595 second
inserted another chunk, took 0.669 second
inserted another chunk, took 0.602 second
inserted another chunk, took 0.615 second
inserted another chunk, took 0.600 second
inserted another chunk, took 0.633 second
inserted another chunk, took 0.677 second
inserted another chunk, took 0.605 second
inserted another chunk, took 0.608 second
inserted another chunk, took 0.632 second
inserted another chunk, took 0.690 second
inserted another chunk, took 0.666 second
inserted another chunk, took 0.641 second
inserted another chunk, took 0.655 second
inserted another chunk, took 0.629 second
inserted another chunk, took 0.733 second
inserted another chunk, took 0.070 second
Finished ingesting data into the postgres database